<%= form_with(model: @facclone, local: true) do |form| %>
  <% if @facclone.errors.any? %>
    <div id="error_explanation">
      <h2><%= @facclone.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @facclone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", facclones_path %>
